/**
 * General
 */
html,
body {
    min-height: 100%;
}

body {
    font-family: 'Dancing Script', cursive;
    color: #2c3e50;
}

header,
main,
footer {
    margin-left: 25px;
    margin-right: 25px;
}

/**
 *  Header
 */
header {
    display: grid;
    grid-template-columns: auto auto;
    height: 100px;
    margin-bottom: 25px;
    border-bottom: 3px solid #bdc3c7;
}

.header-item-logo {
    text-align: left;
    padding: 10px 0;
}

.header-item-logo img {
    width: 85px;
    height: 85px;
}

.header-item {
    font-weight: 200;
    text-align: right;
}

.header-item h1 {
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 5px;
}

.header-item p {
    font-size: 16px;
    margin: 0 auto 0;
}

/**
 *  Content
 */
.main-section {
    display: grid;
    margin-bottom: 15px;
}

.main-section-img-wrapper {
    margin: 0;
}

.main-section-img-wrapper img {
    max-width: 100%;
    height: auto;
}

.featured-work-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 15px;
}

.featured-work-section h2 {
    grid-column: 1 / 4;
    color: #7f8c8d;
    font-weight: 400;
}

.card {
    text-align: center;
    margin-bottom: 15px;
}

.card-media {
    width: 100%;
    padding: 5px;
    margin: 3px;
}

.card-img {
    max-width: 100%;
    margin: auto;
}

.card-link a {
    border: 1px none #2d3c49;
    padding: 10px;
}

.card-link a:hover,
.card-link a:active {
    text-decoration: none;
    color: #ffffff;
    background-color: #34495e;
}

a {
    text-decoration: none;
    color: #2d3c49;
}

a:hover,
a:active {
    text-decoration: underline;
}

/**
 * Footer
 */
footer {
    text-align: center;
}

footer p {
    font-size: 0.9em;
    margin-bottom: 5px;
}

/**
 * Responsive
 */
@media screen and (min-width: 850px) {
    header,
    main,
    footer {
        width: 90%;
        margin: 10px auto 5px;
    }
}

@media screen and (max-width: 500px) {
    .header-item-logo img {
        width: 75px;
        height: 75px;
    }

    .header-item h1 {
        font-size: 1.7em;
    }

    .featured-work-section {
        grid-template-columns: 75%;
        justify-content: space-evenly;
    }

    .featured-work-section h2 {
        grid-column: auto;
        text-align: center;
    }

    .card-title {
        margin-top: 5px;
    }

    .card-link {
        margin-bottom: 35px;
    }

    footer {
        width: 90%;
        padding: 0 auto 10px;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    .card-link a {
        font-size: 0.9em;
        padding: 5px;
    }
}